<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> title </title>
  </head>
  <body>
<p> Name: <%= @post.name %> </p>
Content: <%= @post.content %>

<form method="post" action='/posts/<%=@post.id%>/delete'>
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>


</html>